.product{
    .box-container{
        @include grid(4, 1.5rem);
        .box{
            border-radius: .5rem;
            text-align: center;
            border: .2rem solid $black;
            &:hover .image .icons{
                transform: translateY(0);
            }
            .image{
                border-radius: .5rem;
                overflow: hidden;
                position: relative;
                height: 25rem;
                width: 100%;
                
                .icons{
                    position: absolute;
                    top:0; left:0; right:0;
                    border-bottom: .2rem solid $black;
                    transform: translateY(-7rem);
                    transition: all .5s ease;
    
                    .icon{
                        height: 2rem;
                        width: 2rem;
                        line-height: 2rem;
                        font-size: 2rem;
                        color:$black;
                        padding: 1rem;
                        transition: all .5s ease;
    
                        &:hover{
                            background: $black;
                            color:$white;
                            transition: all .5s ease;
                        }
                    }
                }
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .content{
                padding: 1.5rem 0;
                h3{
                    font-size: 2rem;
                    color: $primaryText;
                }
                .stars{
                    padding: 1rem 0;
                    .icon{
                        font-size: 1.4rem;
                        color: $colorPrimary;
                    }
                }
                .price{
                    font-size: 2.2rem;
                    color: $primaryText;
                    span{
                        font-size: 1.5rem;
                        text-decoration: line-through;
                        color: $secundaryText;
                    }
                }
            }
        }
    }
}