@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

//

// Tamaño de Media Queries
$desktop: 1280px;
$tablet: 768px;
$telefono: 540px;
$fold: 375px;

// Colores
$primaryText:#333;
$secundaryText:#757575;
$colorPrimary: #e84393;
$colorLight : #666;
$bgLight : #eee;
$white: #fff;
$black:#000;
$border : .1rem solid rgba(0,0,0,.1);

